/* body {
    background-image: url("paper.gif");
    background-color: #cccccc;
   } */

body {
    background-image: ("paper.gif");
    background: linear-gradient(
    315deg,
    #f5deb3 0%,
    #faf0e6 50%,
    white 100%
  );
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.searchbar{
  padding-top: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.searchbar input {
  width: 70%;
  font-size: 1rem;
  height: 2rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 1rem;
}

.cardImage {
    height: 200px;
    /* position: relative; */
    top: 50px;
    /* display: flex; */
    justify-content: center;
    
}

/* container in ItemCardContainer component */
.card-grid {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    /* gap: 1rem; */
    margin: 20px 20px 20px 45px;
    padding: 30px;
}

/* each card, in ItemCard component */
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(245, 245, 245, 0.973);
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
      translateY(var(--translate-y, 0));
    height: 275px;
    width: 375px;
    margin: 10px;
    padding: 10px;
}

.card p {
  margin: 0
}

#itemName {
  /* display: inline;
  /* text-align: left; */
  /* justify-content: left;  */
  /* float: left; */
  font-weight: bold;
}

#itemPrice {
  /* display:;
  text-align: right;
  justify-content: right; */
  float: right;
}

.delete {
  float: right;

}

/* .header{
    font-size: 1.25em;
    padding-left: 0rem;
    color:white;
    text-shadow: 0 0 0 var(--green);
    background-color: black;
    text-align: center;
    font-size: 30px 
} */
.nav-bar{
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: forwards;
  font-size: 1.25em;
  padding-left: 0rem;
  color:white;
  text-shadow: 0 0 0 var(--green);
  background-color: black;
  text-align: center;
  font-size: 15px 
}
.nav-bar.h1{
  float:left
}

.Logo{
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container for form */
.newItemForm {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
/* elements inside form */
.item-form {
  margin: 1rem;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap
}

.formHeader {
  text-align: center;
}

.itemReviews{
  border-radius: 10px;
  border-style: solid;
  padding: 10px 5px 10px 5px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex; 
  flex-direction: column;
  margin: 2rem 275px 375px 275px;
  background-color:burlywood

}
.review-button{
  background-color: rgb(43, 230, 43);
}

.eachReview {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}